#scooter .titulo p {
    text-transform: uppercase;
}

.scooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.scooter-imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.scooter-imagens img {
    flex: 1;
    min-width: 200px;
}

.scooter-imagens img:first-child {
    min-width: 100%;
}

.scooter-conteudo > p {
    margin-bottom: 32px;
}

.scooter-comprar {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;
    margin-bottom: 40px;
}

.scooter-comprar a {
    grid-row: span 2;
}

.scooter-comprar span {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--cor-12);
    padding: 4px 8px;
    border-radius: 4px;
}

.scooter-conteudo h2 {
    text-transform: uppercase;
    letter-spacing: 0.015em;
    margin-bottom: 12px;
}

.scooter-informacoes,
.scooter-ficha {
    background-color: var(--cor-12);
    border-radius: 4px;
    padding: 32px;
}

.scooter-informacoes {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.scooter-informacoes img {
    width: 24px;
    margin-bottom: 8px;
}

.scooter-informacoes h3 {
    margin-bottom: 8px;
}

.scooter-ficha li {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-11);
}

.scooter-ficha li:last-child {
    border-bottom: none;
}

.scooter-ficha span {
    color: var(--cor-6);
}

@media (max-width: 800px) {
    .scooter {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .scooter-imagens {
        grid-row: 2;
    }

    .scooter-informacoes {
        grid-template-columns: 1fr;
    }

    .scooter-comprar {
        grid-template-columns: 1fr;
    }
}
